html, body {
    padding: 0;
    margin: 0;
    height: 100%;

}

html {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.button {
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    border: none;
    background-color:  #cc3300;
    color: white;
    padding: 5px 25px 5px 25px;
    border-radius: 4px;
    outline: 0 !important;
    box-shadow: 0 4px 0 #661a00, 0 5px 5px 1px rgba(0, 0, 0,      0.4);
    transition: all 0.15s ease-in-out;
    margin-top: -4px;
   }

  
  .button:hover {
    background-color: #ff4000;
    box-shadow: 0 4px 0 #b32d00, 0 5px 5px 1px rgba(0, 0, 0,      0.4);
  }
  
  .button:active {
    margin-top: 0;
    box-shadow: none;
    border: 1px solid white;
  }

  .button--close {
    font-size: 18px;
    line-height: 36px;
    background-color: whitesmoke;
    color: rgb(43, 43, 43);
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 0 rgb(71, 71, 71), 0 5px 5px 1px rgba(0, 0, 0,0.4);
    margin-top: -2px;
   }
   .button--close:hover {
    background-color: white;
    box-shadow: 0 4px 0 rgb(50, 49, 49), 0 5px 5px 1px rgba(0, 0, 0,0.4);
   }
  
   .button--close:active {
    margin-top: 0;
    box-shadow: none;
    border: 1px solid white;
  }

  .button--like {
    font-size: 18px;
    line-height: 36px;
    background-color: rgb(94, 109, 246);
    color: rgb(43, 43, 43);
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 0 rgb(71, 71, 71), 0 5px 5px 1px rgba(0, 0, 0,0.4);
    margin-top: -2px;
   }
   .button--like:hover {
    background-color: rgb(28, 107, 243);
    box-shadow: 0 4px 0 rgb(50, 49, 49), 0 5px 5px 1px rgba(0, 0, 0,0.4);
   }
  
   .button--like:active {
    margin-top: 0;
    box-shadow: none;
    border: 1px solid white;
  }
   
  
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-background {
    background-color: rgba(135, 121, 121, 0.666);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    opacity: 0;
    transition: all 0.45s ease-in-out;
  }

  .modal-box {
    background-color: white;
    color: black;
    height: auto;
    max-width: 800px;
    min-width: 250px;
    padding: 20px 35px 20px 35px;
    border: 2px solid black;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cedarville Cursive', cursive;
    z-index: -11;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }

  .modal-background.active {
    z-index: 10;
    opacity: 1;
  }

  .modal-box.active {
    z-index: 11;
    opacity: 1;
  }

  h1 {
    font-family:   'Fascinate', cursive;;
  }
  

  .text-align {
    text-align: right;
  }