body {
    background-color: whitesmoke;
    padding-top: 85.425px;
}
#logo {
    color: blueviolet;
}
pre {

    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4 {
    color: brown;
}
a {
    color: black;
    text-decoration: none;
    text-align: center;
    text-decoration: solid;
}
input{
    border: black 4px;
    width: 250px;
    border-radius: 3px;
}
button{
    border: black 4px;
    width: 250px;
    border-radius: 3px;

}
p {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
img {
    border-radius: 6px;
}
nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: blanchedalmond;
}